.table
  padding-left 96px

  .controls
    display flex
    justify-content flex-end
    padding 2px 8px
    padding-right 96px

  &.noselect
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  .row
    display flex
    height 100%

    .cell
      white-space nowrap
      margin 0 
      border-right 1px solid $borderColor
      position relative

    .cell-content
      height 100%
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      padding 0 8px

  .header
    height 33px
    position sticky
    top 0
    z-index 1
    background-color $backgroundColor
    border-bottom 1px solid $borderColor
    border-top 1px solid $borderColor

    .cell
      line-height 120%
      font-size 14px

  .footer
    height 33px
    position sticky
    bottom 0
    z-index 1
    background-color $backgroundColor
    border-top 1px solid $borderColor

  .resizer
    display: inline-block;
    background: transparent;
    width: 8px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%);
    z-index: 1;
    cursor: col-resize;
    touch-action: none;

    &:hover
      background-color: #8ecae6;

  .header-icon
    margin-right 4px

    svg
      position relative
      height 1.5em
      width 1.5em
      top 0.125rem
